.raisedButton > svg {
  color: var(--cpd-color-icon-on-solid-primary);
}

.reactionPopupMenu {
  display: flex;
}

/* These styles override the Modal styles to ensure our emoji
   picker appears near the toolbar */

.reactionPopupMenuModal {
  width: fit-content !important;
  top: 82vh !important;
}

.reactionPopupMenuModal > div > div {
  padding-inline: var(--cpd-space-6x) !important;
  padding-block: var(--cpd-space-6x) var(--cpd-space-8x) !important;
}

.reactionPopupMenu menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.reactionPopupMenu section {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.reactionPopupMenuItem {
  list-style: none;
  margin-left: var(--cpd-separator-spacing);
}

.reactionPopupMenuItem:first-child {
  margin-left: 0;
}

.reactionButton {
  padding: 1em;
  font-size: 2em;
  width: 2em;
  height: 2em;
  border-radius: 2em;
}

.verticalSeperator {
  background-color: var(--cpd-color-gray-800);
  width: 1px;
  height: auto;
  margin-left: var(--cpd-separator-spacing);
  margin-right: var(--cpd-separator-spacing);
}

.searchForm {
  display: flex;
  flex-direction: row;
  gap: var(--cpd-separator-spacing);
}

.searchForm > label {
  flex: auto;
}
