.raisedButton > svg {
  color: var(--cpd-color-icon-on-solid-primary);
}

.reactionPopupMenu {
  background: var(--cpd-color-bg-canvas-default);
  border-radius: var(--cpd-space-4x);
  width: fit-content;
  top: 70vh;
  padding: 1em;
  position: absolute;
  border: none;
}

.reactionPopupMenu menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.reactionPopupMenu section {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.reactionPopupMenuItem {
  list-style: none;
  margin-left: var(--cpd-separator-spacing);
}

.reactionPopupMenuItem:first-child {
  margin-left: 0;
}

.reactionButton {
  width: 2em;
  height: 2em;
  border-radius: 2em;
}

.verticalSeperator {
  background-color: var(--cpd-color-gray-800);
  width: 1px;
  height: auto;
  margin-left: var(--cpd-separator-spacing);
  margin-right: var(--cpd-separator-spacing);
}

.searchForm {
  display: flex;
  flex-direction: row;
  gap: var(--cpd-separator-spacing);
}

.searchForm > label {
  flex: auto;
}
